<div class="flex items-center justify-center pa2 mb3 pointer <%%= alert_colors(flash_name) %>" onclick="this.parentNode.removeChild(this);">
  <div class="db fl lh-title ml3"><%%= message %></div>
  <div class="fr ml3">&times;</div>
</div>
